@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Arial, non-serif;
}

a {
  text-decoration: none;
  color: #D83112;
}

a:hover {
  text-decoration: underline;
}

pre code {
  display: block;
  padding: 0.5rem;
  margin: 1rem;
  background-color: #FFC0B5;
  font-size: 1rem;
  line-height: 1.5rem;
}
