@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Francois+One');

/* IE & EDGE CORNER */

body,
input,
button {
  font-family: 'Open Sans', Arial, non-serif;
  color: #21272A;
}

h1 {
  font-family: 'Francois One', Arial, sans-sans-serif;
  text-shadow: 4px 4px #21272A;
}

code,
pre code {
  font-family: 'Source Code Pro', Courier, monospace;
}

a,
section li::before {
  color: #D83112;
}

nav,
.show {
  background-color: #D83112;
}

mark {
  border-bottom-color: #D83112;
  background: #FFC0B5;
}

pre code,
th {
  background-color: #FFC0B5;
}

h2 {
  text-shadow: 2px 2px #FFC0B5;
  color: #21272A;
}

a:hover,
a:focus {
  color: #FFC0B5;
  background-color: #21272A;
}

nav a {
  border-top-color: #FFC0B5;
}

nav ul {
  border-bottom-color: #FFC0B5;
}

input:focus,
button:hover {
  border-color: #21272A;
}

.toggler {
  background-color: #21272A;
}

.toggler:hover,
.toggler:focus {
  background-color: #676C6F;
}

th,
td {
  border: 1px solid #676C6F;
}



:root {
  --font-main: 'Open Sans', Arial, non-serif;
  --font-header: 'Francois One', Arial, sans-sans-serif;
  --font-code: 'Source Code Pro', Courier, monospace;
  --primary-dark: #D83112;
  --primary-light: #FFC0B5;
  --secondary-dark: #21272A;
  --secondary-medium: #676C6F;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-size: 1rem;
  line-height: 1.7rem;
  color: var(--secondary-dark);
}

mark {
  background: var(--primary-light);
  border-bottom: 2px var(--primary-dark) solid;
}

h1 {
  margin-top: 0;
  padding: 1rem 0 0 0;
  text-align: center;
  font-family: var(--font-header);
  font-size: 3rem;
  color: #fff;
  text-shadow: 4px 4px var(--secondary-dark);
}

h2 {
  color: var(--secondary-dark);
  text-shadow: 2px 2px var(--primary-light);
}

a {
  text-decoration: none;
  color: var(--primary-dark);
}

a:hover,
a:focus {
  color: var(--primary-light);
  background-color: var(--secondary-dark);
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}


/*------------------------------------------------------NAVBAR-----------------------------------------*/

.navwrapper,
nav {
  width: 290px;
  background-color: var(--primary-dark);
}

.navwrapper {
  margin: 0;
  padding: 2rem 0 2rem 0;
  line-height: 2rem;
}

nav {
  position: fixed;
}

nav ul {
  width: 100%;
  padding: 0;
  border-bottom: 1px var(--primary-light) solid;
  list-style-type: none;
}

nav a {
  display: block;
  width: 100%;
  padding: 0.5rem 0 0.5rem 2rem;
  border-top: 1px var(--primary-light) solid;
  color: #fff;
  font-weight: bold;
}

.toggler {
  display: none;
}

/*-------------------------------------------------SEARCHER----------------------------------------*/

.searchwrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0 0.5rem;
}

input,
button {
  height: 2.5rem;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 10px;
  font-family: var(--font-main);
  font-size: 1rem;
  color: var(--secondary-dark);
}

input {
  width: calc(100% - 3rem);
  margin: 1rem 0 0 0;
}

button {
  float: right;
  width: 2.5rem;
  margin: 1rem 0 2rem 0;
}

input:focus,
button:hover {
  border-color: var(--secondary-dark);
}

main {
  width: calc(100% - 290px);
  padding: 2rem 3rem;
}


/*-------------------------------------------------SECTIONS-------------------------------------------*/

section {
  margin-bottom: 4rem;
}

section ul {
  list-style: none;
}

section li::before {
  display: inline-block;
  width: 1rem;
  content: '•';
  color: var(--primary-dark);
  margin-left: -1rem
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code {
  font-family: var(--font-code);
}

pre code {
  display: block;
  border-radius: 10px;
  background-color: var(--primary-light);
  margin: 0 1rem;
  padding: 0.5rem;
  font-family: var(--font-code);
  font-size: 1rem;
  line-height: 1.5rem;
}


/*------------------------------------------------TABLE---------------------------------------------------*/

table {
  width: 80%;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  border: 1px solid var(--secondary-medium);
}

th {
  background-color: var(--primary-light);
  font-weight: bold;
}


/*-------------------------------------------------------------------------------------------------------------
--------------------------------------------------MEDIA QUERIES------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1300px) {
  
  table {
    width: 100%;
  }

}


@media (max-width: 1100px) {
  
  main {
    padding: 2rem 1rem;
  } 

  section {
    margin-bottom: 2rem;
  }

  pre,
  pre code {
    margin: 0;
  }

  p {
    margin: 0.5rem 0;
  }

}


@media (max-width: 600px) {

  h1 {
    display: inline;
    margin: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-shadow: 3px 3px var(--secondary-dark);
    text-shadow: 3px 3px #21272A;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
  }

  ul {
    display: none;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    flex-flow: column wrap;
  }

  .navwrapper,
  nav,
  main,
  table {
    width: 100%;
  }

  nav {
    top: 0;
    height: 4.5rem;
    padding: 0rem;
    line-height: 1rem;
  }
  
    nav header {
    padding-top: 0.5rem;
  }

  nav a {
    padding-left: 0;
  }

  .show {
    display: block;
    position: absolute;
    top: 4.5rem;
    background-color: var(--primary-dark);
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }

  .searchwrapper {
    position: absolute;
    top: 0.5rem;
    left: 40%;
    width: 60%;
  }

  input,
  button {
    height: 1.7rem;
    border-width: 2px;
    border-radius: 5px;
    font-size: 1rem;
  }

  input {
    width: calc(100% - 2.7rem);
    left: 0;
    margin: 0 0.5rem;
  }

  button {
    position: absolute;
    right: 0.5rem;
    width: 1.7rem;
    margin: 0 0 0.5rem 0;
  }

  .toggler {
    display: block;
    width: 100%;
    height: 1.5rem;
    position: absolute;
    top:3rem;
    margin: 0;
    padding-top: 0.2rem;
    background-color:var(--secondary-dark);
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.5rem;
  }

  .toggler:hover,
  .toggler:focus {
    background-color: var(--secondary-medium);
  }

  main,
  th,
  td {
    padding: 0.5rem;
  }

  section {
    margin-bottom: 1rem;
  }
  
  pre code {
    background-color: var(--primary-light);
    margin: 0;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
}


@media (max-width: 350px) {

  .searchwrapper {
    left: 48%;
    width: 52%;
  }

  input,
  button {
    margin: 0;
    font-size: 0.8rem;
  }

  input {
    width: calc(100% - 1rem);
  }

}